@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?xigd3x');
  src:  url('./fonts/icomoon.eot?xigd3x#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.ttf?xigd3x') format('truetype'),
  url('./fonts/icomoon.woff?xigd3x') format('woff'),
  url('./fonts/icomoon.svg?xigd3x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Iconly-Light-Outline-Arrow-Right-2:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e900";
}
.icon-icon-bundle:before {
  content: "\e901";
}
.icon-Iconly-Bold-Notification:before {
  content: "\e902";
}
.icon-Iconly-Light-Outline-Bag:before {
  content: "\e903";
}
.icon-Iconly-Light-Outline-Buy:before {
  content: "\e904";
}
.icon-Iconly-Light-Outline-Document:before {
  content: "\e905";
}
.icon-Iconly-Light-Outline-Search:before {
  content: "\e906";
}
.icon-Iconly-Light-Outline-Star:before {
  content: "\e907";
}
.icon-icon-trade-in:before {
  content: "\e908";
}
.icon-icon-- .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
}
.icon-icon-- .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(61, 99, 157);
}
.icon-icon-:before {
  content: "\e90b";
}